ipykernel
sphinx # extras = ["autdoc", "autosummary", "intersphinx", "napoleon", "viewcode"]
sphinx-rtd-theme
nbsphinx
nbsphinx-link
doc8
rstcheck
pandoc
ipython
sphinx-autodoc-typehints
sphinx-autodoc-typehints==2.0.0
jupyter
prompt-toolkit
